<form method="POST">
  <button name="choice" type="submit" value="116">
    <img src="https://i.ytimg.com/vi/8ROOl3BBbhA/maxresdefault.jpg"
 ="        width="600px" height="400px" >
    </button>
    <button name="choice" type="submit" value="assasins">

  <img src="https://i.ytimg.com/vi/W4wL2OLSNok/maxresdefault.jpg"
         width="600px" height=400px >
    </button>
</form>
